.nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #adb6bf;
  padding: 15px 50px;
  z-index: 2;
}
.nav h2 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #FFFFFF;
}
.nav .nav-button .nav-open {
  cursor: pointer;
  z-index: 3;
  height: 24px;
}
.nav .nav-button .nav-close {
  z-index: 2;
  display: none;
}
.nav a {
  text-decoration: none;
}
.menu {
  position: fixed;
  width: 100%;
  background-color: #adb6bf;
  margin-top: 50px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 2;
}
.menu a {
  color: #FFFFFF;
  font-size: 4.5rem;
  line-height: 8.5rem;
  font-weight: bold;
  width: 200px;
  text-decoration: none;
}
.hidden {
  display: none;
}
.menu a:hover {
  color: #222222;
}
.menu a:first-child {
  margin-top: 145px;
}
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  position: absolute;
  bottom: 50px;
  left: 60px;
  z-index: 0;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
  padding: 35px 2px 0;
  letter-spacing: 1px;
}
.jumbotron .jumbotron-desktop {
  width: 100%;
  margin-top: 54px;
  z-index: 3;
}
.jumbotron .jumbotron-mobile {
  display: none;
}
@media (max-width: 500px) {
  .jumbotron .jumbotron-desktop {
    display: none;
  }
  .jumbotron .jumbotron-mobile {
    width: 100%;
    margin-top: 60px;
    display: block;
  }
  .jumbotron h1 {
    bottom: 25px;
    left: 18px;
    font-weight: normal;
    font-size: 4.6rem;
    line-height: 4.6rem;
  }
}
footer {
  background-color: #828282;
  color: #FFFFFF;
  width: 100%;
}
footer .footer-content {
  padding: 45px 10px 20px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
footer .footer-content h3 {
  font-size: 1.8rem;
  color: #FFFFFF;
  font-weight: regular;
}
footer .address-text {
  padding-right: 10px;
}
footer .footer-content input {
  margin-top: 20px;
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
}
footer .footer-content p {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 26px;
  font-weight: regular;
}
.copyright {
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 15px;
  margin: auto;
  font-size: 12px;
}
@media (max-width: 500px) {
  footer {
    width: 100%;
  }
  footer .footer-content {
    flex-direction: column;
    padding: 10px;
  }
  footer .footer-content content h3 {
    padding-top: 30px;
    padding-bottom: 15px;
  }
  footer .footer-content .address-text {
    padding: 20px 0;
  }
  .copyright {
    padding-top: 10px;
  }
}
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
  color: #222222;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
/* Your Code Goes Here */
.main-content {
  width: 85%;
  margin: auto;
}
.main-content .top-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.main-content .top-info .text-content {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 2.4rem;
}
.main-content .top-info .text-content h2 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #222222;
}
.main-content .top-info .text-content p {
  margin: 10px 0;
}
.main-content .top-info .text-content button {
  border: 1px solid #222222;
  width: 115px;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}
.main-content .top-info .top-info-desktop {
  width: 50%;
  padding-left: 15px;
}
.main-content .top-info .top-info-mobile {
  display: none;
}
.main-content .top-info-reverse {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin: 90px 0;
}
.main-content .top-info-reverse .text-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  line-height: 2.4rem;
}
.main-content .top-info-reverse .text-content h2 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #222222;
}
.main-content .top-info-reverse .text-content p {
  margin: 15px 0;
}
.main-content .top-info-reverse .text-content button {
  border: 1px solid #222222;
  width: 115px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.main-content .top-info-reverse .top-info-desktop {
  width: 50%;
  padding-right: 15px;
}
.main-content .top-info-reverse .top-info-mobile {
  display: none;
}
.main-content .recent-projects .project {
  position: relative;
}
.main-content .recent-projects .project .project-right-tab {
  position: absolute;
  z-index: 0;
  background-color: #D8D8D8;
  padding: 35px 55px;
  font-size: 2.4rem;
  font-weight: normal;
  right: 0;
  bottom: -37px;
  letter-spacing: 7px;
}
.main-content .recent-projects h2 {
  padding: 20px 0;
}
.main-content .recent-projects .project .project-left-tab {
  position: absolute;
  z-index: 0;
  background-color: #D8D8D8;
  padding: 35px 55px;
  font-size: 2.4rem;
  font-weight: normal;
  left: 0;
  bottom: -37px;
  letter-spacing: 7px;
}
.main-content .recent-projects .project .project-desktop {
  width: 100%;
}
.main-content .recent-projects .project .project-mobile {
  display: none;
}
.main-content .recent-projects p {
  margin: 90px auto;
  width: 50%;
  font-size: 1.8rem;
}
@media (max-width: 500px) {
  .main-content {
    max-width: 500px;
    margin: 0 auto;
  }
  .main-content .top-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    margin: 25px 0;
    width: 100%;
  }
  .main-content .top-info .text-content {
    width: 100%;
    padding-top: 20px;
  }
  .main-content .top-info .text-content h2 {
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
  }
  .main-content .top-info .text-content button {
    width: 100%;
    border: 1px solid #222222;
    background: #FFFFFF;
    font-size: 1.8rem;
  }
  .main-content .top-info .top-info-desktop {
    display: none;
  }
  .main-content .top-info .top-info-mobile {
    width: 100%;
    display: block;
  }
  .main-content .top-info-reverse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    margin: 25px 0;
    width: 100%;
  }
  .main-content .top-info-reverse .text-content {
    width: 100%;
    padding-top: 20px;
  }
  .main-content .top-info-reverse .text-content h2 {
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
  }
  .main-content .top-info-reverse .text-content button {
    width: 100%;
    border: 1px solid #222222;
    background: #FFFFFF;
    font-size: 1.8rem;
  }
  .main-content .top-info-reverse .top-info-desktop {
    display: none;
  }
  .main-content .top-info-reverse .top-info-mobile {
    width: 100%;
    display: block;
  }
  .main-content .recent-projects h2 {
    margin: 25px 10px 0;
    padding: 40px 0 20px;
    font-weight: bold;
    font-size: 2.4rem;
  }
  .main-content .recent-projects .project .project-desktop {
    display: none;
  }
  .main-content .recent-projects .project .project-mobile {
    width: 100%;
    display: block;
  }
  .main-content .recent-projects .project .project-right-tab {
    right: 15px;
    left: 15px;
    bottom: -75px;
    font-size: 2.2rem;
    text-align: center;
    padding: 35px 40px;
  }
  .main-content .recent-projects .project .project-left-tab {
    right: 15px;
    left: 15px;
    bottom: -75px;
    font-size: 2.2rem;
    text-align: center;
    padding: 35px 40px;
  }
  .main-content .recent-projects p {
    width: 85%;
    margin-top: 85px;
  }
}
.main-content {
  width: 60%;
  margin: auto;
}
.main-content .services-content p {
  margin: 20px 0;
  padding: 20px 0;
  font-size: 2.1rem;
}
.tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8rem;
  padding-bottom: 30px;
}
.tabs .tabs-link {
  border: 1px solid #222222;
  padding: 20px 30px;
  font-weight: bold;
}
.tabs .selected-tab {
  background: #ADB6BF;
  color: #FFFFFF;
}
.tabs-content .tab-content {
  display: flex;
  margin: 15px 0;
  display: none;
}
.tabs-content .selected-tab {
  display: flex;
  margin: 15px 0;
}
.tabs-content .text-content p {
  padding: 20px 0;
  width: 75%;
}
