// footer content
footer {
  background-color: @footer-bg;
  color: @font-light;
  width: 100%;
    .footer-content {
      padding: 45px 10px 20px 20px;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
          h3 {
            font-size: 1.8rem;
            color: @font-light;
            font-weight: regular;
}
}
}
footer .address-text {
  padding-right: 10px;
}
footer .footer-content input {
  margin-top: 20px;
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
}
footer .footer-content p {
  color: @font-light;
  font-size: 12px;
  line-height: 26px;
  font-weight: regular;
}
.copyright {
  text-align: center;
  color: @font-light;
  padding-bottom: 15px;
  margin: auto;
  font-size: 12px;
}

//mobile
@media (max-width: 500px) {
  footer {
    width: 100%;
      .footer-content {
          flex-direction: column;
          padding: 10px;
            content h3 {
              padding-top: 30px;
              padding-bottom: 15px;
}
}
}

footer .footer-content .address-text{
  padding: 20px 0;
}
  .copyright {
    padding-top: 10px;
  }
}
