.jumbotron h1 {
  padding-left: 40px;
  margin-left: 160px;
}

.main-content .services-content p {
  margin: 20px 0;
  padding: 20px 0;
  font-size: 1.4rem;
}

.tabs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  //flex-direction: row;
  justify-content: space-between;
  font-size: 1.8rem;
  padding-bottom: 30px;
}

.tabs .tabs-link {
  border: 1px solid @font-black;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.tabs .selected-tab {
  background: @tab-bg;
  color: @font-light;
}

.container .main-content {
  width: 80%;
  margin: auto;
}

.services-content .tab-item {
  display: none;
}

.services-content .selected-tab {
  display: flex;
  //flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.services-content .selected-tab .text-content {
  width: 60%;
  padding: 25px 0;
}
.tabs-content .tab-item .text-content h2 {
  font-size: 2.4rem;
  font-weight: bold;
}
.tabs-content .tab-item .text-content p {
  font-size: 1.4rem;
  margin-top: 0px;
  padding-right: 35px;
}

.tabs-content .tab-item .tab-item-image {
  width: 40%;
  margin-top: 72px;
}
